.navbar {
    background-color: #f8f9fa !important;
    box-shadow: none !important;
}

.navbar-brand, .nav-link {
    color: #8B4513 !important;
}

.nav-link:hover {
    color: #D76F32!important;
}

.cart-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 50%;
}

.user-dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}


.navbar-nav {
    margin-right: auto; 
}

.navbar-nav-left {
    display: flex;
    align-items: center;
}

.navbar-nav-left .nav-item {
    margin-right: 25px; 
}


.nav-link {
    font-size: 1.25rem; 
    font-weight: 600; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}


.navbar-nav-right .nav-item {
    margin-left: 25px; 
}

.navbar-nav-right .nav-link {
    font-size: 1.25rem; 
    font-weight: 600; 
}


.cart-icon {
    font-size: 1.25rem;
    margin-right: 5px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #f8f9fa;
    padding-top: 0;
    margin-top: -5px; 
    flex-direction: row; 
}

.header-text {
    flex: 1;
    text-align: left;
    padding: 40px;
}

.header-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #5D4037; 
}

.header-text h4 {
    font-size: 1.5rem;
    color:rgb(122, 103, 66); 
}

.header-image {
    flex: 1;
    max-width: 50%;
    height: 100%;
    object-fit: cover;
    order: 1; 
}


.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #5D4037; 
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  
    
}


@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        text-align: center;
        padding: 20px;
    }

    .header-text {
        flex: none;
        padding: 20px 0;
    }

    .header-image {
        max-width: 100%;
        order: 0; 
    }

    .header-text h1 {
        font-size: 2rem; 
    }

    .header-text h4 {
        font-size: 1.2rem; 
    }
}

@media (max-width: 480px) {
    .header-text h1 {
        font-size: 1.8rem; 
    }

    .header-text h4 {
        font-size: 1rem; 
    }
}



.product-item {
    display: none; 
}

.category-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.category-nav button {
    background: none;
    border: none;
    color: #29201c; 
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, border-bottom 0.3s;
}
.category-nav button:hover,
.category-nav button.active {
    color: #a8762a !important; 
    border-bottom: 3px solid #FFCC80 !important;
    background: none !important; 
}




#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.product-card {
    display: flex;
    background-color:#3f2f2a; 
    border-radius: 8px;
    overflow: hidden;
    width: 48%; 
    max-width: 500px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(99, 70, 28, 0.2); 
}

@media (max-width: 768px) {
    .product-card {
        width: 100%;
    }
}

.product-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}


.product-card .product-info {
    flex-grow: 1;
}

.product-card h5 {
    font-size: 20px;
    font-weight: bold;
    color: #FFF3E0;
    margin: 0;
}

.product-card p {
    font-size: 18px;
    color: #FFCC80; 
    margin: 5px 0;
}


.product-card .add-to-cart {
    background-color: #5D4037; 
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.product-card .add-to-cart:hover {
    background-color: #b3431a; 
}


.cart-title {
    color: #8B4513; 
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


.cart-table {
    background-color: #8D6E63;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 204, 128, 0.2); 
}


.cart-table thead {
    background-color: #5D4037; 
    color: white;
}


.cart-table tbody tr {
    background-color: #D7CCC8; 
}


.cart-table th, .cart-table td {
    padding: 6px;
    text-align: center;
    border: 2px solid #795548; 
}


.btn-warning, .btn-success, .btn-danger {
    border-radius: 5px;
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #D76F32;
}

.btn-success:hover {
    background-color: #795548;
}

.btn-danger:hover {
    background-color: #A52A2A;
}


.total-price {
    color: #8B4513;
    font-weight: bold;
}



.confirm-order-btn {
    background-color: #5D4037; 
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.confirm-order-btn:hover {
    background-color: #b3431a; 
}
